:host {
    height: 100%;
}

#wrapper {
    background-color: var(--color-background);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 500px;
    min-width: 347px;
    overflow: hidden;
    transition: background-color var(--theme-delay);
}

#outer-content {
    height: 100%;
}

#topbar, #bottombar {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    padding: 8px 8px 8px 8px;
    width: 100%;
}

#bottombar span:hover {
    cursor: pointer;
}
