#wrapper {
    background: url("../../assets/images/background/background.svg") no-repeat center;
    background-color: var(--color-background);
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
}

#main {
    backdrop-filter: blur(var(--blur));
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#outer-content {
    height: 100%;
    min-height: 0;
}