:host {
    height: 100%;
}

#wrapper {
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto 0 auto;
    max-width: 31rem;
    overflow: hidden;
}

#outer-content {
    height: 100%;
}

#topbar, #bottombar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
}

#bottombar span:hover {
    cursor: pointer;
}
