<div id="wrapper">

    <div id="topbar">
        <span (click)="goHome()" class="clickable material-symbols-outlined">home</span>
        <span class="material-symbols-outlined">language</span>
    </div>
    <div id="center">
        <div id="main">
            <div id="outer-content" [@routeAnimation]="o.isActivated?o.activatedRoute:''">
                <router-outlet #o="outlet"></router-outlet>
            </div>
        </div>
    </div>
    <div id="bottombar">
        <span (click)="showHelpDialog()" class="material-symbols-outlined">help</span>
    </div>

</div>

<div *ngIf="isLoading">
    <loading-spinner></loading-spinner>
</div>
