<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <mat-vertical-stepper [linear]="false" #stepper>
            <!-- Search -->
            <mat-step completed="false">
                <div id="identification">
                    <form [formGroup]="searchForm" id="search-form">
                        <ng-template matStepLabel>{{ getLabel("step-1-header") }}</ng-template>
                        <span class="instructions transparent">
                            <span class="emoji">{{ getEmoji('question')}}</span>
                            <span class="text">{{ getLabel("step-1-haveRefNo") }}</span>
                        </span>
                        <mat-radio-group formControlName="selection">
                            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.id">
                                {{ option.description }}
                            </mat-radio-button>
                        </mat-radio-group>
                        <ng-template [ngIf]="searchForm.value.selection==1">
                            <mat-form-field>
                                <input matInput [placeholder]="getLabel('step-1-refNo')" formControlName="refNo">
                                <mat-hint>{{ getLabel("step-1-refNo-hint") }}</mat-hint>
                            </mat-form-field>
                        </ng-template>
                        <ng-template [ngIf]="searchForm.value.selection==2">
                            <div id="complex-group" formGroupName="complexGroup">
                                <!-- Date -->
                                <div class="group-field">
                                    <mat-form-field id="date">
                                        <input (dateChange)="patchFormWithSelectedDate($event)" [matDatepicker]="picker" [placeholder]="getLabel('step-1-date')" formControlName="date" matInput>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="date.hasError('required')">{{ getHint("invalid") }}</mat-error>
                                        <mat-hint>{{ getLabel("step-1-date-hint") }}</mat-hint>
                                    </mat-form-field>
                                </div>
                                <!-- Destination -->
                                <mat-form-field>
                                    <mat-label>{{ getLabel("step-1-destination") }}</mat-label>
                                    <mat-select formControlName="destination">
                                        <mat-option *ngFor="let destination of destinations" [value]="destination.id">
                                            {{ destination.description }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint>{{ getLabel("step-1-destination-hint") }}</mat-hint>
                                </mat-form-field>
                                <!-- Lastname -->
                                <mat-form-field>
                                    <input [placeholder]="getLabel('step-1-lastname')" formControlName="lastname" matInput>
                                    <mat-error *ngIf="lastname.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-hint>{{ getLabel("step-1-lastname-hint") }}</mat-hint>
                                </mat-form-field>
                                <!-- Firstname -->
                                <mat-form-field>
                                    <input [placeholder]="getLabel('step-1-firstname')" formControlName="firstname" matInput>
                                    <mat-error *ngIf="firstname.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-hint>{{ getLabel("step-1-firstname-hint") }}</mat-hint>
                                </mat-form-field>
                            </div>
                        </ng-template>
                        <div class="buttons">
                            <button [disabled]="requiredFieldsShouldBeGiven()" (click)="doSearch(stepper)" class="primary" mat-button>
                                <span>{{ getLabel("next") }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <!-- Reservation -->
            <mat-step completed="false">
                <form [formGroup]="reservationForm">
                    <ng-template matStepLabel>{{ getLabel("step-2-header") }}</ng-template>
                    <div id="reservation-items">
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-date') }}</span>
                            <span class="reservation-item-value">{{ formatISODateToLocale() }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-refNo') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.refNo }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-ticket') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.ticketNo }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-destination') }}</span>
                            <span class="reservation-item-value"> {{ reservationForm.value.destination.description }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-customer') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.customer.description }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-pickupPoint') }}</span>
                            <span class="reservation-item-value">
                                <span>{{ reservationForm.value.pickupPoint.description }}</span><br>
                                <span>{{ reservationForm.value.exactPoint }}</span><br>
                                <span>{{ reservationForm.value.time }}</span>
                            </span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-adults') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.adults | replaceZero }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-kids') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.kids | replaceZero }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-free') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.free | replaceZero }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-pax') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.totalPax | replaceZero }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-phones') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.phones }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('step-2-remarks') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.remarks }}</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-button matStepperPrevious class="secondary">{{ getLabel("previous") }}</button>
                        <button mat-button matStepperNext class="primary">
                            <span>{{ getLabel("next") }}</span>
                        </button>
                    </div>
                </form>
            </mat-step>
            <!-- Passengers -->
            <mat-step completed="false">
                <ng-template matStepLabel>{{ getLabel("step-3-header") }}</ng-template>
                <span class="instructions yellow with-margin-bottom" *ngIf="reservationForm.value.totalPax!=reservationForm.value.passengers.length">
                    <span class="emoji">{{ getEmoji('warning-triangle')}}</span>
                    <span class="text">{{ getLabel("step-3-instructions") }}</span>
                </span>
                <check-in-passenger-list [passengers]="reservationForm.value.passengers" [initialPassengerCount]="reservationForm.value.totalPax"></check-in-passenger-list>
                <div class="buttons">
                    <button mat-button matStepperPrevious class="secondary">{{ getLabel("previous") }}</button>
                    <button [disabled]="reservationForm.value.totalPax!=reservationForm.value.passengers.length" mat-button matStepperNext class="primary">
                        <span>{{ getLabel("next") }}</span>
                    </button>
                </div>
            </mat-step>
            <!-- Email -->
            <mat-step completed="false">
                <ng-template matStepLabel>{{ getLabel("step-4-header") }}</ng-template>
                <span class="instructions blue">
                    <span class="emoji">{{ getEmoji('email')}}</span>
                    <span class="text">{{ getLabel("step-4-instructions") }}</span>
                </span>
                <form [formGroup]="searchForm" id="search-form">
                    <mat-form-field>
                        <input matInput [placeholder]="getLabel('step-4-email')" formControlName="email">
                        <mat-error *ngIf="email.hasError('required') && !email.hasError('email')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                </form>
                <div class="buttons">
                    <button mat-button matStepperPrevious class="secondary">{{ getLabel("previous") }}</button>
                    <button [disabled]="email.hasError('required') || email.hasError('email')" (click)="onSendEmail(stepper)" mat-button matStepperNext class="primary">{{ getLabel("next")}}</button>
                </div>
            </mat-step>
            <!-- Finish -->
            <mat-step completed="false">
                <ng-template matStepLabel>{{ getLabel("step-5-header") }}</ng-template>
                <span class="instructions last blue">
                    <span class="emoji">{{ getEmoji('email')}}</span>
                    <span class="text">{{ getLabel("step-5-finish") }}</span>
                </span>
                <div class="buttons">
                    <button (click)="gotoIntroForm()" mat-button matStepperNext class="primary">OK</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="showHelpDialog()" class="primary" mat-flat-button>
                <mat-icon>question_mark</mat-icon>
                <span>{{ getLabel("needHelp") }}</span>
            </button>
        </div>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>