:host {
    display: flex;
    height: 100%;
}

#content {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto 0 auto;
    min-width: 347px;
    padding: 1rem 1rem 1rem 0;
    overflow-y: scroll;
}

#stepper > .mat-stepper-vertical {
    background-color: #efefef;
}

#complex-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

#header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 1rem 4rem !important;
}

#footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: auto;
    padding: 1rem 4rem 1rem 4rem;
}

.mat-form-field {
    padding: 0.5rem;
}

#search-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#reservation-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.mat-radio-group {
    display: flex;
    gap: 1rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 0 0.5rem 0 0;
}

.text {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.8rem;
    font-weight: 300;
}

.reservation-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.reservation-item-title {
    color: var(--color-yellow);
    font-family: var(--font-family-segoe-ui);
    font-size: 15px;
    font-weight: 300;
    width: 40%;
}

.reservation-item-value {
    color: var(--color-green);
    font-family: var(--font-family-segoe-ui);
    font-size: 15px;
    font-weight: 300;
}

.instructions {
    display: flex;
    margin: 0 0.5rem 0 0.5rem;
}

.instructions.last {
    margin-bottom: 1rem;
}

.instructions .emoji {
    font-size: 1rem;
    margin-top: 0;
}

.instructions .text {
    color: var(--color-text);
    font-family: var(--font-family-segoe-ui);
    font-size: 15px;
    font-weight: 300;
}

.instructions.transparent {
    background-color: transparent;
}

.instructions.yellow {
    background-color: var(--color-yellow);
}

.instructions.blue {
    background-color: var(--color-blue);
}

.instructions.with-margin-bottom {
    margin-bottom: 0.9rem !important;
}
