#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: auto;
    padding: var(--gap) 4rem;
}

#days {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    height: 100%;
    justify-content: center;
}

.day {
    background-color: var(--color-table-headers);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    max-width: 7.7rem;
    min-width: 7.7rem;
    padding: 1.8rem 1rem 1.8rem 1rem;
}

.day-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.day-data .weekday, .day-data .month, .day-data .year {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 0.2rem;
}

.day-data .date {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0.3125rem;
    text-align: center;
    width: 3rem;
}

.day.has-schedule {
    cursor: revert;
}

.no-reservation-data {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.no-reservation-data span {
    color: #00000023;
    font-size: 4rem;
}

.reservation-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.reservation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

.destinations {
    border-radius: 0.625rem;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-asty);
    font-size: 0.8rem;
    font-weight: 100;
    justify-content: space-between;
    margin: 0.4rem 0;
    padding: 1rem 1rem 1rem 1rem;
}

.destination-description {
    margin-bottom: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: scale(1, 1.5);
    white-space: nowrap;
}

.pax {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 1.2rem;
    font-weight: 100;
    margin: auto auto 1rem auto;
    text-align: center;
}

.saturday {
    background-color: var(--color-background-saturday);
}

.sunday {
    background-color: var(--color-background-sunday);
}

.is-today {
    background-color: var(--color-background-today);
}

#period-scroller {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.3rem 0;
}

#period-scroller button {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    display: flex;
    margin-right: 1rem !important;
    transition: transform var(--delay) !important;
}

#period-scroller button span.material-icons {
    color: var(--color-red);
    font-size: 2.5rem;
}

.material-icons.warning {
    color: var(--color-red);
    margin-left: auto;
}

.material-icons.warning:hover {
    cursor: pointer;
}

#period-scroller button:hover {
    transform: scale(1.5);
}

#goto-today-button {
    background-color: transparent !important;
    box-shadow: none;
    margin: -1rem -1rem 0 0;
}

#goto-today-button span {
    color: var(--color-background-today) !important;
}