* {
    /*  Buttons */
    --color-button-text: #ffffff;
    --color-button-primary: #0077B6;
    --color-button-secondary: #ff9800;
    --color-button-delete: #cf6755;
    /* Material menus */
    --color-mat-menu-background-hover: #0077B6;
    --color-mat-menu-text-hover: #ffffff;
}
