:host {
    align-items: center;
    display: flex;
}

button.drop-down-menu-trigger {
    background-color: var(--color-table-headers);
    border-radius: 0;
    color: var(--color-text);
    display: flex;
    font-size: var(--font-size-button) !important;
    gap: 0.5rem;
    padding: 0.25rem 0 0.25rem 1rem !important;
}

.sub-menu {
    display: none;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: max-content;
    z-index: 2 !important;
}

.sub-menu button {
    animation: enter 0.1s ease forwards;
    background-color: var(--color-table-headers);
    color: var(--color-text);
    display: flex;
    gap: 0.8rem;
    justify-content: flex-start;
    opacity: 0;
    padding: 0.8rem 1rem !important;
    transform-origin: bottom;
    width: 100%;
}

.sub-menu button span {
    margin-top: 0.125rem;
}

.sub-menu button:hover {
    background-color: var(--color-hover) !important;
}

.drop-down-menu:hover .sub-menu {
    display: flex;
}

.sub-menu button:nth-child(1) {
    animation-delay: 0.10s;
}

.sub-menu button:nth-child(2) {
    animation-delay: 0.15s;
}

.sub-menu button:nth-child(3) {
    animation-delay: 0.20s;
}

.sub-menu button:nth-child(4) {
    animation-delay: 0.25s;
}

.sub-menu button:nth-child(5) {
    animation-delay: 0.30s;
}

.sub-menu button:nth-child(6) {
    animation-delay: 0.35s;
}

.sub-menu button:nth-child(7) {
    animation-delay: 0.40s;
}

.sub-menu button:nth-child(8) {
    animation-delay: 0.45s;
}

.sub-menu button:nth-child(9) {
    animation-delay: 0.50s;
}

.sub-menu button:nth-child(10) {
    animation-delay: 0.55s;
}

.sub-menu button:nth-child(11) {
    animation-delay: 0.60s;
}

.sub-menu button:nth-child(12) {
    animation-delay: 0.65s;
}

.sub-menu button:nth-child(13) {
    animation-delay: 0.70s;
}

.sub-menu button:nth-child(14) {
    animation-delay: 0.75s;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(0.625rem);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}