#criteria-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

#content {
    backdrop-filter: blur(var(--blur));
    background-color: var(--color-content-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    overflow-y: hidden;
    padding: 0.5rem 2rem 1rem 2rem;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
}

#form-wrapper {
    display: flex;
    height: 100%;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-direction: column !important;
    gap: 0.5rem;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4rem 1rem 4rem;
}

.table-wrapper {
    overflow-y: scroll;
    height: 95%;
}

#form .group-field:first-child {
    align-items: center;
    display: flex;
    margin: 0 3px 0 auto;
}

#form .group-field:last-child {
    display: flex;
    height: 100%;
    overflow-y: hidden;
}

#date-fieldset {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 17rem !important;
}

#date-fieldset legend {
    margin-left: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    width: auto !important;
}

#date {
    background-color: transparent !important;
    border: 0 !important;
    padding: 0 2rem 0.5rem 1rem !important;
    margin-top: 0 !important;
}

#goto-today-button {
    background-color: transparent !important;
    box-shadow: none;
    margin: -23px 0 0 217px;
    position: absolute;
}

#goto-today-button span {
    color: var(--color-background-today) !important;
}

.fieldset {
    background-color: transparent !important;
    width: 17rem;
}

.fieldset legend {
    background-color: transparent !important;
}

.fieldset legend .selected {
    display: flex;
    align-items: center;
}


.fieldset legend .selected .icon {
    font-size: 0.9375rem;
    margin-left: 0.5rem;
    position: relative;
    top: -0.125rem;
}