fieldset {
    border-radius: var(--border-radius);
    border: 0.0625rem solid var(--color-border);
    padding: 1rem 1.5rem 1rem 1.65rem;
}

fieldset legend {
    align-items: center;
    color: var(--color-text);
    display: flex;
    font-family: var(--font-family-asty);
    font-size: var(--font-size-fieldset-legend);
    font-weight: 300;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
}