.filter-pill {
    display: flex;
    gap: 0.5rem;
}

.filter-pill .pill {
    align-items: center;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    padding: 0.5rem;
    width: 5rem;
}

.filter-pill .date {
    width: auto !important;
}

.filter-pill .overbooked {
    width: auto !important;
}

.filter-pill .pill img {
    width: 1.375rem;
}

.filter-pill .pill .description {
    align-items: center;
    color: var(--color-button-text);
    display: flex;
    font-family: var(--font-family-asty);
    font-weight: 100;
    line-height: 0;
    margin: 0.0625rem 0 0 auto;
    transform: scale(0.8, 1.5);
}

.filter-pill .pill:nth-child(1) {
    background-color: var(--color-criteria-a) !important;
}

.filter-pill .pill:nth-child(2) {
    background-color: var(--color-criteria-b) !important;
}

.filter-pill .pill:nth-child(3) {
    background-color: var(--color-criteria-c) !important;
}

.filter-pill .pill:nth-child(4) {
    background-color: var(--color-criteria-d) !important;
}