@media (width < 800px) {
    * {
        --font-size-button: 60%;
        --font-size-checkbox-label: 60%;
        --font-size-h1: 0.8rem;
        --font-size-input-hint: 8px;
        --font-size-input-label: 13px;
        --font-size-input: 10px;
        --font-size-dialog-text: 0.80rem;
    }
}