* {
    /* Font names */
    --font-family-asty: "Asty CF Std";
    --font-family-logo: "Aka-Acid-CanterBold";
    --font-family-roboto: "Roboto";
    --font-family-ubuntu: "Ubuntu Condensed";
    /* Font weights */
    --font-weight-dialog-content: 300 !important;
    --font-weight-logo: 400;
    --font-weight-mat-hint: 300;
    /* Common sizes in all screen resolutions */
    --font-size-autocomplete-select: 0.875rem;
    --font-size-calendar-day: 0.85rem;
    --font-size-datepicker-header-month: 1.25rem;
    --font-size-dialog: 1.5rem;
    --font-size-fieldset-legend: 0.8rem;
    --font-size-h6: 0.8rem;
    --font-size-line-height-h1: 1.25rem;
    --font-size-logo-text: 2.5rem;
    --font-size-table-header: 0.7rem;
    --font-size-table-row: 0.7rem;
    --form-field-margin: 0.625rem;
    /* Misc */
    --blur: 0.5rem;
    --gap: 1rem;
    --delay: 0.2s;
    --border-radius: 0.5rem;
}