@media (width >= 800px) {
    * {
        --font-size-button: 0.85rem;
        --font-size-checkbox-label: 80%;
        --font-size-h1: 1rem;
        --font-size-input-hint: 11px;
        --font-size-input-label: 17px;
        --font-size-input: 15px;
        --font-size-dialog-text: 1rem;
    }
}