#year-picker {
    margin-top: 0.25rem;
}

button.drop-down-menu-trigger {
    background-color: transparent !important;
}

#selected-year {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: auto;
}