<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div class="filter-pill">
            <div class="pill date">
                <div class="description">{{ formatDateToLocale(criteriaPanels.fromDate, true, true) }} - {{ formatDateToLocale(criteriaPanels.toDate, true, true) }}</div>
            </div>
            <button (click)="expandAll()" class="primary prime-icon" mat-flat-button>
                <mat-icon>expand_more</mat-icon>
            </button>
            <button (click)="collapseAll()" class="primary prime-icon" mat-flat-button>
                <mat-icon>expand_less</mat-icon>
            </button>
        </div>
    </div>

    <div id="content">
        <div id="criteria-panel">
            <criteria-panel *ngIf="isAdmin()" [backgroundColor]="'var(--color-criteria-a)'" [feature]="feature" [header]="'criteria-customers'" [icon]="'customers'" [records]="criteriaPanels.selectedCustomers" [sortField]="'description'"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-b)'" [feature]="feature" [header]="'criteria-ports'" [icon]="'ports'" [records]="criteriaPanels.selectedPorts" [sortField]="'description'"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-c)'" [feature]="feature" [header]="'criteria-ships'" [icon]="'ships'" [records]="criteriaPanels.selectedShips" [sortField]="'description'"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-d)'" [feature]="feature" [header]="'criteria-destinations'" [icon]="'destinations'" [records]="criteriaPanels.selectedDestinations" [sortField]="'description'"></criteria-panel>
        </div>
        <div id="table-wrapper">
            <mat-accordion multi>
                <mat-expansion-panel *ngFor="let customer of records">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ customer.customer.description }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <ledger-customer-reservations [customer]="customer"></ledger-customer-reservations>
                        <ledger-customer-summary [portGroup]="customer.ports"></ledger-customer-summary>
                        <div class="button-right">
                            <button (click)="exportSelected(customer)" class="primary" mat-flat-button>
                                <span>{{ getLabel("createPdfButton") }}</span>
                            </button>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

    <div id="footer">
        <table-total-filtered-records [filteredRecordCount]="records.length" [recordCount]="records.length" [showFilteredCount]="false"></table-total-filtered-records>
        <div class="button-group-right">
            <button [disabled]="records.length==0" (click)="exportAll()" class="primary" mat-flat-button>
                <mat-icon *ngIf="records.length==0">lock</mat-icon>
                <span>{{ getLabel("createPdfButton") }}</span>
            </button>
        </div>
    </div>

</div>