:host {
    width: 100%;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem 0 1.5rem 0;
}

#top {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

#top #right {
    align-items: center;
    background-color: var(--color-table-headers);
    border-radius: 0.3125rem;
    display: flex;
}

#header {
    justify-content: center;
    margin: 1rem 0 1rem 0 !important;
}

#content {
    backdrop-filter: blur(var(--blur));
    background-color: var(--color-content-background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0.5rem 1.6rem 0.5rem 2rem;
    width: 100%;
}

#footer {
    display: flex;
    justify-content: center;
}

#footer button {
    width: 18rem;
}

@media (width < 800px) {
    #content {
        justify-content: start;
    }
    #top {
        flex-direction: column;
    }
}

@media (width >= 800px) {
    #content {
        justify-content: center;
    }
    #top {
        flex-direction: row;
        justify-content: space-around;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}