<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="criteria">
                <button (click)="resetTableFilters()" class="primary" mat-flat-button>
                    <span class="material-icons-outlined">filter_alt_off</span>
                </button>
            </div>
        </div>

        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-10" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}</th>
                        <th class="width-10" pSortableColumn="coachRoute.abbreviation">{{ getLabel("headerRouteAbbreviation") }}</th>
                        <th class="width-25" pSortableColumn="description">{{ getLabel("headerDescription") }}</th>
                        <th class="width-24" pSortableColumn="exactPoint">{{ getLabel("headerExactPoint") }}</th>
                        <th class="width-6" pSortableColumn="time">{{ getLabel("headerTime") }}</th>
                    </tr>
                    <tr>
                        <th class="width-10"><p-columnFilter field="isActive" type="boolean"></p-columnFilter></th>
                        <th class="width-10">
                            <p-columnFilter [showMenu]="false" field="coachRoute" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownRoutes" [placeholder]="getEmoji('wildcard')" optionLabel="abbreviation">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.abbreviation }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        <th class="width-25"><input (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value" class="p-inputtext"></th>
                        <th class="width-24"><input (input)="table.filter($event.target.value, 'exactPoint', 'contains')" [value]="$any(table).filters['exactPoint']?.value" class="p-inputtext"></th>
                        <th class="width-6"><input (input)="table.filter($event.target.value, 'time', 'contains')" [value]="$any(table).filters['time']?.value" class="p-inputtext center"></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="unHighlightAllRows()" (dblclick)="editRecord(record.id)" [attr.id]=record.id [pSelectableRow]="record" style="height: 32px;">
                        <td class="center width-10">
                            <span *ngIf="record.isActive" class="is-active material-icons-outlined">check_circle</span>
                            <span *ngIf="!record.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                        </td>
                        <td class="center width-10">{{ record.coachRoute.abbreviation }}</td>
                        <td class="width-25">{{ record.description }}</td>
                        <td class="width-24">{{ record.exactPoint }}</td>
                        <td class="center width-6">{{ record.time }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div class="button-group-right">
            <button (click)="createPdf()" [disabled]="recordsFilteredCount==0" class="secondary" mat-flat-button>
                <mat-icon *ngIf="recordsFilteredCount==0">lock</mat-icon>
                <span>{{ getLabel("createPdf") }}</span>
            </button>
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") }}</button>
        </div>
    </div>

</div>