<div id="form-wrapper">

    <div id="content">
        <mat-card routerLink="/login">
            <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('login')">
            <mat-card-title>{{ getLabel("loginTitle") }}</mat-card-title>
            <mat-divider inset></mat-divider>
            <mat-card-subtitle>{{ getLabel("loginSubTitle") }}</mat-card-subtitle>
        </mat-card>
        <mat-card routerLink="/check-in">
            <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('check-in')">
            <mat-card-title>{{ getLabel("checkInTitle") }}</mat-card-title>
            <mat-divider inset></mat-divider>
            <mat-card-subtitle>{{ getLabel("checkInSubTitle") }}</mat-card-subtitle>
        </mat-card>
    </div>
    
    <main-footer></main-footer>
    
</div>
