:host {
    width: 100%;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem 0 1.5rem 0;
}

#top {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

#top #right {
    align-items: center;
    background-color: var(--color-table-headers);
    border-radius: 0.3125rem;
    display: flex;
}

#header {
    justify-content: center;
    margin: 1rem 0 1rem 0 !important;
}

#content {
    align-items: flex-end;
    backdrop-filter: blur(var(--blur));
    background-color: var(--color-content-background);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0.5rem 1.6rem 0.5rem 2rem;
    width: 100%;
}

@media (width < 800px) {
    #content {
        justify-content: start;
    }
    #top {
        flex-direction: column;
    }
}

@media (width >= 800px) {
    #content {
        justify-content: center;
    }
    #top {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* #content {
    display: flex;
}

@media (width < 800px) {
    #intro-content {
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        height: 100%;
        justify-content: flex-end;
        margin: auto auto 1.5rem auto;
    }
}

@media (width >= 800px) {
    #intro-content {
        flex-direction: row;
        gap: 1rem;
        margin: auto auto 5rem auto;
    }
} */