#dialog-header {
    gap: 0.5rem;
    margin-left: 0;
}

#dialog-content {
    height: 100%;
    margin: 1rem 0 1rem 0 !important;
}

#dialog-footer {
    margin-right: 0;
}

.option {
    border-radius: 0.25rem;
    display: flex;
    padding: 0 0.125rem 0.125rem 0.5rem;
}

.option:hover {
    background-color: var(--color-hover);
}

.option-label {
    color: var(--color-text);
    display: flex;
    font-family: var(--font-family-asty);
    font-size: 0.8125rem;
    font-weight: 300;
    transition: background-color var(--delay) ease-in !important;
    width: 100%;
}

.option-label:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}

.option-label span {
    margin: 10px 0 6px 0.5rem;
}

.option-message {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.8125rem;
    font-weight: 300;
    margin: 0.3rem 0 0.3rem 2.45rem;
}