#content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logo {
    font-family: var(--font-family-logo);
    font-size: 5rem;
    text-align: center;
}

#sub-header {
    font-family: var(--font-family-segoe-ui);
    font-size: 1.5rem;
    text-align: center;
}

#description-text {
    display: flex;
    font-family: var(--font-family-segoe-ui);
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 1.5rem auto 0 auto;
    text-align: center;
    width: 18rem;
}

#footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    text-align: center;
}
