#logo {
    font-family: var(--font-family-logo);
    font-size: 4rem;
    text-align: center;
}

#greeting-description {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 1.5rem auto 0 auto;
    text-align: center;
    width: 11rem;
}
