#logo {
    font-family: var(--font-family-logo);
    font-size: 4rem;
    text-align: center;
}

.main-header {
    font-size: 1.5rem;
}

#greeting-description {
    font-size: 1.375rem;
    line-height: 2rem;
    margin: 1.5rem auto 0 auto;
    text-align: center;
}
