<div id="passenger-list">

    <div *ngIf="passengers" id="passengers">
        <div *ngFor="let passenger of passengers">
            <div class="passenger">
                <div class="fullname">
                    <span class="lastname">{{ passenger.lastname }}</span>
                    <span class="firstname">{{ passenger.firstname }}</span>
                </div>
                <mat-icon (click)="editRecord(passenger)" class="clickable material-icons-outlined">editRecord</mat-icon>
                <mat-icon (click)="deleteRecord(passenger)" class="clickable material-icons-outlined">delete</mat-icon>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="passenger-count-wrapper">
            <mat-icon class="material-icons-outlined">group</mat-icon>
            <span class="passenger-count">{{ passengers != null ? passengers.length : 0 }}</span>
        </div>
        <mat-icon (click)="newRow()" class="clickable material-icons-outlined">add</mat-icon>
        <!-- <button [disabled]="passengers.length >= initialPassengerCount" (click)="newRow()" mat-mini-fab>
            <mat-icon class="material-icons-outlined">add</mat-icon>
        </button> -->
    </div>

</div>
