/* :host {
    display: flex;
    height: 100%;
    width: 100%;
}

#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

.passenger-difference-icon {
    font-size: 0.5rem;
    position: relative;
    top: -0.0625rem;
} */