<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" autocomplete="off">
            <!-- Current password -->
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('currentPassword')" [type]="hidePassword ? 'password' : 'text'" data-tabindex="1" formControlName="currentPassword" matInput>
                <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                    <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
                <mat-error *ngIf="currentPassword?.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <div formGroupName="passwords" id="passwords">
                <!-- New password -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('newPassword')" [type]="hidePassword ? 'password' : 'text'" data-tabindex="2" formControlName="password" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="password.hasError('containsSpace')">{{ getHint("spacesNotAllowed") }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('containsSpace')">{{ getHint("minLength", password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('containsSpace')">{{ getHint("maxLength", password.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Confirm password -->
                <mat-form-field>
                    <input [errorStateMatcher]="confirmValidParentMatcher" [inputTabStop]="input" [placeholder]="getLabel('confirmPassword')" [type]="hidePassword ? 'password' : 'text'" data-tabindex="3" formControlName="confirmPassword" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && !matchingPasswords">{{ getHint("passwordsNoMatch") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && matchingPasswords">{{ getHint("invalid") }}!</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid">lock</mat-icon>
                <span>{{ getLabel("saveButton") }}</span>
            </button>
        </div>
    </div>

</div>