#form-wrapper {
    margin: 1rem 1rem 1rem 1rem;
}

#dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem 1rem 1rem 1rem;
}

#dialog-footer {
    column-gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 1rem 1rem 0;
}
