<div id="content">

    <div id="dialog-header">
        <div id="header">
            <span class="material-symbols-outlined step-number">counter_3</span>
            <span>{{ getLabel("step-4-header") }}</span>
        </div>
        <div id="sub-header">{{ getLabel("step-4-sub-header") }}</div>
    </div>

    <div id="passenger-list">
        <div *ngIf="checkTotalPaxAgainstPassengerCount()" id="new-passenger-button">
            <button (click)="showEmptyPassengerForm()" class="secondary" mat-flat-button>
                <span>{{ getLabel("step-4-new-passenger-button") }}</span>
            </button>
        </div>
        <div id="table-wrapper">
            <p-table #table [scrollable]="true" [value]="reservation.passengers" [virtualScrollItemSize]="32" [virtualScroll]="false" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="body" let-record>
                    <tr (click)="highlightRow(record.id)" [attr.id]="record.id" [pSelectableRow]="record" style="height: 32px;">
                        <td class=""><span>{{ record.lastname }}</span></td>
                        <td class=""><span>{{ record.firstname }}</span></td>
                        <td class="width-2">
                            <span class="center" style="padding: 0 0 0 0 !important;">
                                <span (click)="editPassenger(record)" class="center" style="font-size: 0.75rem;">{{ getEmoji('edit') }}</span>
                            </span>
                        </td>
                        <td class="width-2">
                            <span class="center" style="padding: 0 0 0 0 !important;">
                                <span (click)="deletePassenger(record)" class="center" style="font-size: 0.75rem;">{{ getEmoji('error') }}</span>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div id="footer">
        <button (click)="previous()" class="primary" mat-flat-button>
            <span>{{ getLabel("previous") }}</span>
        </button>
        <button [disabled]="checkTotalPaxAgainstPassengerCount()" (click)="next()" class="primary" mat-flat-button>
            <mat-icon *ngIf="checkTotalPaxAgainstPassengerCount()" class="material-icons-outlined">lock</mat-icon>
            <span>{{ getLabel("next") }}</span>
        </button>
        <!-- <button (click)="next()" class="primary" mat-flat-button>
            <span>{{ getLabel("next") }}</span>
        </button> -->
    </div>

</div>
