input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

input.center {
    text-align: center;
}

input.right {
    text-align: right !important;
}

input.mat-input-element, textarea.mat-input-element {
    caret-color: var(--color-text) !important;
    margin-top: -0.0625rem !important;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
    background-clip: content-box;
    cursor: text !important;
    font-family: var(--font-family-asty);
    font-size: var(--font-size-input) !important;
    font-weight: 300;
    outline: none;
}

textarea {
    height: 100px;
}

.mat-form-field {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border) !important;
    line-height: 132%;
    margin-top: var(--form-field-margin) !important;
    padding: 0.5rem 1rem;
    width: 100% !important;
}

.mat-form-field.list-filter {
    backdrop-filter: blur(0);
    background-color: transparent !important;
    border: none !important;
    line-height: 0 !important;
    margin-top: 0 !important;
    padding: 0 1.5rem 0 1.5rem !important;
}

.mat-form-field.list-filter .mat-form-field-infix {
    border-top: 0 !important;
}

.mat-form-field-infix {
    border-top: 20px solid transparent;
    display: flex !important;
    font-family: var(--font-family-asty) !important;
    font-weight: 300 !important;
    padding: 0 !important;
    width: 100% !important;
}

.mat-form-field-subscript-wrapper {
    margin-top: 2px !important;
}

.mat-hint, .mat-error {
    font-family: var(--font-family-asty);
    font-size: var(--font-size-input-hint);
    font-weight: 300;
}

.mat-form-field-label span {
    font-size: var(--font-size-input-label) !important;
}

.mat-form-field-label-wrapper {
    top: -20px !important;
}

.textarea .mat-form-field-wrapper {
    padding-bottom: 32px !important;
}

.mat-date-range-input {
    margin-top: 0 !important;
}

.mat-form-field-type-mat-date-range-input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    font-size: unset !important;
}

.mat-form-field-flex {
    align-items: center !important;
    display: flex !important;
}

.mat-date-range-input-separator {
    color: transparent !important;
}

.mat-form-field-infix > span.emoji {
    margin-top: -2px !important;
}