.mat-expansion-panel {
    background-color: var(--color-table-headers);
    border-radius: 0 !important;
    border: 0.0625rem solid var(--color-border) !important;
    box-shadow: 0 0 0 0 #000000 !important;
    transition: none !important;
}

.mat-expansion-panel * {
    transition: none !important;
}

.mat-expansion-panel-header {
    font-family: var(--font-family-asty);
    font-size: 0.8rem;
    font-weight: 300;
    height: 2rem !important;
    padding: 0.125rem 1.5rem 0 1.5rem !important
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: var(--color-text);
    margin-top: -0.5625rem;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
    background-color: var(--color-hover) !important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: var(--color-text);
}

.mat-expansion-panel-body {
    background-color: var(--color-table-headers) !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem 1rem 1rem !important;
}

.mat-form-field {
    border: none !important;
}

.mat-action-row {
    border-top-style: none !important;
    margin: 0 1rem 0 1rem;
    padding: 0 !important;
}

.mat-action-row .mat-button {
    color: lightblue;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: var(--color-table-headers) !important;
    height: 2rem !important;
}