.mat-mdc-radio-group {
    display: flex !important;
    flex-direction: column;
    row-gap: 0.5rem;
}

.mat-mdc-radio-button {
    background-color: var(--color-input-background);
    padding: 1rem 1rem 1rem 1rem;
}

.mat-mdc-radio-button .mdc-radio {
    padding: 0 !important;
}

.mdc-form-field > label {
    font-size: 15px !important;
    font-family: var(--font-family-segoe-ui) !important;
}
