.mat-stepper-vertical, .mat-stepper-horizontal {
    background-color: transparent !important;
}

.mat-step-header.cdk-program-focused {
    background-color: transparent !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
    color: var(--color-text);
    font-family: var(--font-family-segoe-ui);
    font-weight: 400;
}

.mat-vertical-stepper-header .mat-step-icon {
    background-color: var(--color-blue);
}

.mat-vertical-stepper-header {
    pointer-events: none !important;
}

.mat-vertical-content {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 24px 0 24px 24px !important;
    row-gap: 1rem;
}

.mat-vertical-content-container {
    background: none;
}

.mat-stepper-vertical-line::before {
    border-left-color: var(--color-border) !important;
    top: -13px !important;
}
