:host {
    display: flex;
    height: 100%;
}

#content {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto 0 auto;
    min-width: 347px;
    padding: 1rem 1rem 1rem 1rem;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header > :first-child {
    font-size: 24px;
    margin-bottom: -8px;
    font-family: var(--font-family-segoe-ui);
}

#header #logo {
    font-size: 80px;
    font-family: var(--font-family-logo);
}

#header > :last-child {
    font-size: 24px;
    margin-top: -12px;
    font-family: var(--font-family-segoe-ui);
}

#tip {
    text-align: center;
    font-family: var(--font-family-segoe-ui);
    margin: 24px 0 0 0;
    font-size: 18px;
}

#footer {
    margin: auto auto 0 auto;
}
