<div id="content">
    <div id="header">
        <div>Welcome to</div>
        <div>Corfu Cruises</div>
        <div>Check-in</div>
    </div>
    <div id="tip">
        <div>Κάντε το check-in</div>
        <div>από την κινητή συσκευή σας</div>
        <div>και επιβιβαστείτε</div>
        <div>γρήγορα και</div>
        <div>χωρίς καθυστέρηση</div>
    </div>
    <div id="footer">
        <button (click)="start()" id="login-button" mat-flat-button>
            <span>ΣΥΝΕΧΕΙΑ</span>
        </button>
    </div>
</div>
