:host {
    display: flex;
    justify-content: center;
}

#main-footer {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-weight: 300;
    margin: 1rem auto 1rem auto;
    text-align: center;
}

a:link, a:visited {
    color: var(--color-red);
    text-decoration: none;
}

a:link:hover {
    color: var(--color-red);
}

@media (width < 800px) {
    :host {
        margin: auto 4rem 0 4rem;
    }
    #main-footer {
        font-size: 0.5rem;
    }
}

@media (width >= 800px) {
    #main-footer {
        font-size: 0.8rem;
    }
}