#table-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

table {
    border-collapse: collapse;
}

th {
    background-color: var(--color-table-headers);
    border: 0.0625rem solid var(--color-border);
    color: var(--color-text) !important;
    font-family: var(--font-family-asty) !important;
    font-size: var(--font-size-table-header) !important;
    font-weight: 300 !important;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center !important;
}

td {
    border-bottom: 0.0625rem solid var(--color-border);
    color: var(--color-text);
    font-family: var(--font-family-asty) !important;
    font-size: var(--font-size-table-row);
    font-weight: 300;
    padding: 0.4375rem 0.5rem;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}