:host {
    height: 100%;
}

#table-wrapper {
    margin: 0;
}

#passenger-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0.7rem;
}

#footer {
    justify-content: space-between;
}

.passenger-count-wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.passenger-count-wrapper .material-icons {
    font-size: 2.1875rem;
}

.passenger-count-wrapper .material-icons.primary {
    color: var(--color-input-focus);
}

.passenger-count-wrapper .material-icons.error:first-child {
    font-size: 1.4rem;
    margin-top: 2px;
}

.passenger-count {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty);
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.1875rem;
}

.fa-trash-alt {
    color: var(--color-table-delete-icon) !important;
}