<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" autocomplete="off">
            <div class="group-field">
                <!-- Lastname -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('lastname')" data-tabindex="1" formControlName="lastname" matInput>
                    <mat-error *ngIf="lastname.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="lastname.hasError('maxlength')">{{ getHint("maxLength", lastname.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Firstname -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('firstname')" data-tabindex="2" formControlName="firstname" matInput>
                    <mat-error *ngIf="firstname.hasError('maxlength')">{{ getHint("maxLength", firstname.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-field">
                <!-- Birthdate -->
                <mat-form-field>
                    <input (blur)="convertFutureDateToPastDate()" [inputTabStop]="input" [matDatepicker]="picker" [min]="minBirthDate" [placeholder]="getLabel('birthdate')" data-tabindex="3" formControlName="birthdate" matInput type="text">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="birthdate.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!birthdate.hasError('required')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Ship -->
                <mat-form-field>
                    <input #inputAutoComplete #triggerShip="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="ships" [placeholder]="getLabel('ship')" data-tabindex="4" formControlName="ship" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerShip, 'ship')" mat-icon-button type="button">
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="ship.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-field">
                <!-- Nationality -->
                <mat-form-field>
                    <input #inputAutoComplete #triggerNationality="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="nationalities" [placeholder]="getLabel('nationality')" data-tabindex="5" formControlName="nationality" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerNationality, 'nationality')" mat-icon-button type="button">
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="nationality.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!nationality.hasError('required') && nationality.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Gender -->
                <mat-form-field>
                    <input #inputAutoComplete #triggerGender="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="genders" [placeholder]="getLabel('gender')" data-tabindex="6" formControlName="gender" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerGender, 'gender')" mat-icon-button type="button">
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="gender.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!gender.hasError('required') && gender.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div id="checkboxes">
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
        </form>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid">lock</mat-icon>
                <span>{{ getLabel("saveButton") }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #genders="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownGenders | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #nationalities="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownNationalities | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>