<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" autocomplete="off">
            <!-- Description -->
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('description')" data-tabindex="1" formControlName="description" matInput>
                <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div class="group-field">
                <!-- From Port -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('fromPort')" data-tabindex="2" formControlName="fromPort" matInput>
                    <mat-error *ngIf="fromPort.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="fromPort.hasError('maxlength')">{{ getHint("maxLength", fromPort.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- From Time -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('fromTime')" data-tabindex="3" formControlName="fromTime" matInput>
                    <mat-error *ngIf="fromTime.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!fromTime.hasError('required') && !fromTime.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-field">
                <!-- Via Ports -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('viaPort')" data-tabindex="4" formControlName="viaPort" matInput>
                    <mat-error *ngIf="viaPort.hasError('maxlength')">{{ getHint("maxLength", viaPort.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Via Times -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('viaTime')" data-tabindex="5" formControlName="viaTime" matInput>
                    <mat-error *ngIf="!viaTime.hasError('required') && !viaTime.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-field">
                <!-- Destination Port -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('toPort')" data-tabindex="6" formControlName="toPort" matInput>
                    <mat-error *ngIf="toPort.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="toPort.hasError('maxlength')">{{ getHint("maxLength", toPort.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Destination Time -->
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('toTime')" data-tabindex="7" formControlName="toTime" matInput>
                    <mat-error *ngIf="toTime.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!toTime.hasError('required') && !toTime.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div id="checkboxes">
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
        </form>

    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid">lock</mat-icon>
                <span>{{ getLabel("saveButton") }}</span>
            </button>
        </div>

    </div>

</div>