<div id="content">

    <div id="header">
        <div id="step-caption">
            <span class="material-symbols-outlined step-number">counter_5</span>
            <span>{{ getLabel("step-7-header") }}</span>
        </div>
        <div class="main-header">{{ getLabel("completion-main-header") }}</div>
        <help></help>
    </div>

    <div id="footer">
        <button (click)="ok()" class="primary" mat-flat-button>
            <span>{{ getLabel("ok") }}</span>
        </button>
    </div>

</div>
