:host {
    height: 100%;
    width: 100%;
}

#logo {
    font-family: var(--font-family-logo);
    font-size: 4rem;
    text-align: center;
}

.main-header {
    font-size: 1.5rem;
}

#completion-description {
    font-size: 1.1875rem;
    line-height: 2rem;
    margin: 1.5rem auto 0 auto;
    text-align: center;
}
