<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div class="filter-pill">
            <div class="pill date">
                <img [src]="getIcon('calendar')">
                <div class="description">{{ formatDateToLocale(records.date, true, true) }}</div>
            </div>
            <button (click)="resetTableFilters()" class="primary" mat-flat-button>
                <mat-icon class="no-text">filter_alt_off</mat-icon>
            </button>
        </div>
    </div>

    <div id="content">
        <div id="criteria-panel">
            <criteria-panel [backgroundColor]="'var(--color-criteria-a)'" [feature]="feature" [header]="'criteriaDestination'" [icon]="'destinations'" [records]="criteriaPanels.selectedDestinations"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-b)'" [feature]="feature" [header]="'criteriaPorts'" [icon]="'ports'" [records]="criteriaPanels.selectedPorts"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-c)'" [feature]="feature" [header]="'criteriaShip'" [icon]="'ships'" [records]="criteriaPanels.selectedShips"></criteria-panel>
        </div>
        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [scrollable]="true" [value]="records.passengers" [virtualScrollItemSize]="32" [virtualScroll]="isVirtual" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-10" pSortableColumn="occupant.description">{{ getLabel("headerOccupant") }}</th>
                        <th class="width-10" pSortableColumn="gender.description">{{ getLabel("headerGender") }}</th>
                        <th class="width-10" pSortableColumn="nationality.description">{{ getLabel("headerCountry") }}</th>
                        <th pSortableColumn="lastname">{{ getLabel('headerLastname') }}</th>
                        <th pSortableColumn="firstname">{{ getLabel('headerFirstname') }}</th>
                    </tr>
                    <tr>
                        <th class="width-10">
                            <p-columnFilter [showMenu]="false" field="occupant" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [disabled]="isFilterDisabled()" [ngModel]="value" [options]="distinctOccupants" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-10">
                            <p-columnFilter [showMenu]="false" field="gender" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [disabled]="isFilterDisabled()" [ngModel]="value" [options]="distinctGenders" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-10">
                            <p-columnFilter [showMenu]="false" field="nationality" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [disabled]="isFilterDisabled()" [ngModel]="value" [options]="distinctNationalities" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th><input (input)="table.filter($event.target.value, 'lastname', 'contains')" [disabled]="records.passengers.length==0" [value]="$any(table).filters['lastname']?.value" class="p-inputtext"></th>
                        <th><input (input)="table.filter($event.target.value, 'firstname', 'contains')" [disabled]="records.passengers.length==0" [value]="$any(table).filters['firstname']?.value" class="p-inputtext"></th>
                    </tr>
                </ng-template>
                <ng-template let-passenger pTemplate="body">
                    <tr [attr.id]=passenger.id [pSelectableRow]="passenger" style="height:32px">
                        <td class="width-10">{{ passenger.occupant.description }}</td>
                        <td class="width-10">{{ passenger.gender.description }}</td>
                        <td class="width-10" style="align-items: center; display: flex;">
                            <img [src]="getNationalityIcon(passenger.nationality.code)" style="vertical-align: middle" />
                            <span style="overflow: hidden;">&nbsp;&nbsp;&nbsp;&nbsp;{{ passenger.nationality.description }}</span>
                        </td>
                        <td>{{ passenger.lastname }}</td>
                        <td>{{ passenger.firstname }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div id="footer">
        <div class="filter-pill">
            <div class="pill">
                <img [src]="getIcon('total')">
                <div class="right description">
                    <span>{{ totals[0] | padNumber : 3 : ' ' }}&nbsp;</span>
                    <span>({{ totals[1] | padNumber : 3 : ' ' }}</span>
                    <span>{{ getLabel('countPassengers') }}</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span>{{ totals[2] | padNumber : 3 : ' ' }}</span>
                    <span>{{ getLabel('countCrew') }}&nbsp;)</span>
                </div>
            </div>
            <div class="pill">
                <img [src]="getIcon('filter')">
                <div class="right description">
                    <span>{{ totalsFiltered[0] | padNumber : 3 : ' ' }}&nbsp;</span>
                    <span>({{ totalsFiltered[1] | padNumber : 3 : ' ' }}</span>
                    <span>{{ getLabel('countPassengers') }}</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span>{{ totalsFiltered[2] | padNumber : 3 : ' ' }}</span>
                    <span>{{ getLabel('countCrew') }}&nbsp;)</span>
                </div>
            </div>
        </div>
        <div class="button-group-right">
            <button (click)="showRouteSelectorDialog()" [disabled]="records.passengers.length==0" class="primary" mat-flat-button>
                <mat-icon *ngIf="records.passengers.length==0">lock</mat-icon>
                <span>{{ getLabel("createPdf") }}</span>
            </button>
        </div>
    </div>

</div>