<div id="dialog">

    <div id="dialog-header">
        <h1 mat-dialog-title>{{ getLabel('headerRouteSelector') }}</h1>
        <h6 mat-dialog-title>{{ getLabel('subHeaderRouteSelector') }}</h6>
    </div>

    <div id="dialog-content">
        <form id="form" [formGroup]="form" autocomplete="off">
            <div *ngFor="let shipRoute of shipRoutes" class="option">
                <p-radioButton [inputId]="shipRoute.id.toString()" [value]="shipRoute" formControlName="shipRoute"></p-radioButton>
                <label class="option-label" [for]="shipRoute.id">
                    <span>{{ shipRoute.description }}</span>
                </label>
            </div>
        </form>
    </div>

    <div id="dialog-footer">
        <button (click)="close()" class="transparent" mat-flat-button tabindex="-1">
            <span>{{ getLabel("cancelButton") }}</span>
        </button>
        <button (click)="continue()" [disabled]="!form.valid" class="primary" mat-flat-button>
            <mat-icon *ngIf="!form.valid">lock</mat-icon>
            <span>{{ getLabel("okButton") }}</span>
        </button>
    </div>

</div>