.pill {
    width: 14rem;
}

@media (width <= 1919px) {
    #criteria-panel {
        display: none !important;
    }
}

@media (width >= 1920px) {
    #table-wrapper {
        margin-left: 1rem;
    }
}