<div *ngIf=isAdmin()>
    <div class="drop-down-menu">
        <button class="drop-down-menu-trigger">
            <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('tables')" style="height: 25px; width: 25px">
            <span class="material-icons-outlined">expand_more</span>
        </button>
        <ul (click)="hideMenu()" class="sub-menu">
            <button *ngFor="let item of menuItems" (click)="doNavigationTasks(item.id)" class="hoverable">
                <img [src]="getIcon(item.id.substring(7))" width="20px">
                <span>{{ item.description }}</span>
            </button>
        </ul>
    </div>
</div>