#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

#header {
    margin-bottom: 0 !important;
}

#form {
    flex-direction: column !important;
    gap: 0.5rem;
    margin: 0 auto;
    width: max-content !important;
}

#form .group-field:first-child {
    align-items: center;
    display: flex;
    margin: 0 3px 0 auto;
}

#form .group-field:last-child {
    height: 100%;
    overflow-y: hidden;
    width: max-content;
}

#date-fieldset {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 17rem !important;
}

#date-fieldset legend {
    margin-left: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    width: auto !important;
}

#date {
    background-color: transparent !important;
    border: 0 !important;
    padding: 0 2rem 0.5rem 1rem !important;
    margin-top: 0 !important;
}

.table-wrapper {
    height: 100%;
}

.no-decorations {
    background-color: transparent !important;
    border: none !important;
    margin: -18px 0 0 0;
    padding: 1rem 1rem 0 1rem;
}

#nested {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
}

.full-height {
    height: 100%;
}

#goto-today-button {
    background-color: transparent !important;
    box-shadow: none;
    margin: -22px 0 0 217px;
    position: absolute;
}

#goto-today-button span {
    color: var(--color-background-today) !important;
}