.no-reservation-data, .api-object {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.api-object span {
    border-radius: 50%;
    color: #00000023 !important;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
}

.api-object span:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}

.destinations:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}

.ports {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.3rem 0;
}

#goto-today-button {
    background-color: transparent !important;
    box-shadow: none;
    margin: -1rem -1rem 0 0;
}

#goto-today-button span {
    color: var(--color-background-today) !important;
}