#form {
    display: flex;
}

#search-by-ref-no-box {
    display: flex;
    margin: 0 0.5rem 0 1rem;
}

#search-by-ref-no-text {
    background-color: transparent;
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-border);
    color: var(--color-text);
    font-family: var(--font-family-ubuntu), sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0.4rem 0 0;
    padding: 0.375rem 1rem;
}

#search-by-ref-no-text::placeholder {
    color: var(--color-text) !important;
    opacity: 0.35;
}

input {
    border: 0;
    outline: 0;
}

input:focus {
    outline: none !important;
}

button {
    display: flex;
    padding: 0 0.1875rem;
}

button span {
    color: var(--color-text) !important;
}
